@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --background: #f3f5f7;
    --background-secondary: #2662ff;
    --color-primary: #1a202c;
    --color-secondary: #ffff;
    --color-text: #717171
}


#app-container {
    font-family: "inter";
    font-weight: 500;
    background-color: var(--background);
    display: grid;

    grid-template-rows: repeat(max-content, 1fr);

    min-width: 100dvw;
    min-height: 100dvh;

    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100dvw - 2rem, 96rem);
    margin-inline: auto;

    margin-block: 2rem;
}

.l-main {
    width: 100%;
}



.l-header {
    background: var(--background-secondary);
    flex-flow: row wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header {
    display: flex;
    flex-direction: column;
    align-items: column;

    width: 100%;
    max-width: 90em;


    width: min(100dvw - 2rem, 96rem);

    padding: 6rem;
}

.l-header__title {
    display: flex;
    justify-content: space-between;

    color: var(--color-secondary)
}

.l-header__title p {
    font-size: 2rem
}



.l-header__search {
    display: flex;
    align-items: center;

    height: 4em;
    width: 100%;

    padding: 2.2em;
    gap: 1.4em;

    background: rgba(255, 255, 255, 0.2);

    border-radius: .8rem;

    margin-top: 1em;
}

.input-search {
    background-color: transparent;
    border: none;
    width: 100%;

    padding: 1em;
}


.input-search::placeholder {
    font-size: 1.4rem;
    font-weight: 300;

    color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 48em) {
    .l-header .content {
        gap: 7.3em;
    }

    .l-header__title {
        font-size:2em;
    }

    .l-header__search {
        height: 6.5em;
    }
}



/*DIV CONTENT_LIST*/
.content__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: min(100dvw - 2rem, 96rem);
    margin-inline: auto;
    margin-top: 5rem;
}

.content__list-itens {
    display: flex;
    flex-flow: row wrap;

    gap: 2rem;
    list-style: none;

    margin-bottom: 2rem;

    animation: bounceInLeft;
    animation-duration: 4s;
}

.list-itens {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    gap: 1rem;

    background-color: var(--color-secondary);
    box-shadow: 0px 5px 5px 3px rgb(86, 86, 85);

    border-radius: 0.5em;
}

.list-itens h1 {
    font-size: 2.5rem;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    /*    text-transform: uppercase; */
}

.list-itens p {
    font-size: 1.5rem;
    color: var(--color-text);
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.list-itens header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-itens header p {
    font-family: 'Lexend', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

svg:hover path {
    fill: rgb(105, 12, 105);
    cursor: pointer;
}

/*DIV CONTENT_LIST*/